 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <title>CricketApp</title>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo teal-text">CricketApp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'team_list' %}">Teams</a></li>
        <li><a href="{% url 'matches_list' %}">Matches</a></li>
        <li><a href="{% url 'points_table' %}">Points Table</a></li>
        <li><a href="{% url 'player_history' %}">Player History</a></li>
        <!-- Dropdown Trigger -->
      </ul>
      
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">CricketApp</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'team_list' %}">Teams</a></li>
        <li><a href="{% url 'matches_list' %}">Matches</a></li>
        <li><a href="{% url 'points_table' %}">Points Table</a></li>
        <li><a href="{% url 'player_history' %}">Player History</a></li>
        <li class="divider" tabindex="-1"></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l8 s8">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col l4 s4">
          <h5 class="white-text">More</h5>
          <ul>
            <li><a class="white-text" href="#!">CricketApp</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Shankar Mahato</a>
      </div>
    </div>
  </footer>
  </body>

    <!--  Scripts-->
  <script src="{% static '/js/materialize.js' %}"></script>
  <script src="{% static '/js/init.js' %}"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    {% comment %} $('ul.slickSlide').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        adaptiveHeight: true
    }); {% endcomment %}
  </script>
</html>