{% extends "basic_app/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h2>Points Table</h2>         
  <table class="table table-striped">
    <thead>
      <tr>
       <th>Team</th>
        <th>Matches</th>
        <th>Win</th>
        <th>Loss</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for point in pointstable_list %}
      <tr>
        <td>{{ point.team_name }}</td>
        <td>{{ point.matches }}</td>
        <td>{{ point.win }}</td>
        <td>{{ point.loss }}</td>
        <td>{{ point.points }}</td>
      </tr>
     {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock content %}